.googleJobs{
    display: flex;
    height: 50%;
}

.left{
    position: relative;
    width: 50%;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    border: solid;
}

.jobs{
    border: solid;
}

.right{
    position: relative;
    max-height: 500px;
    width: 50%;
    overflow-y: auto;
    background-color: blue;
    margin-top: 1%;
    margin-bottom: 5%;
    border: solid;
    color:wheat
}