*{
    
    box-sizing: border-box;
     /* Styled in normalize.css */
    
    
}

#root{
    height: 100vh;
  }

body{
    margin: 0;
    /* height: 200vh; */
}

.nav-bar{
    display:flex ;
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 14%;
    z-index: 1;
}

.masthead{
    /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
    position: relative;
    z-index: 1000;
    /********************************/
    top: 0;
    left: 0;
    width: 100%;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.hamburger-bun{
    
    position: fixed;
    cursor: pointer;
    width: 55px;
    z-index: 3;
    

}

.hamburger-bun div{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.hamburger-bun .one,
.hamburger-bun .two{
    margin-bottom: 7px;
}

 .hamburger-bun .one{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 14px) rotate(45deg);
}

.hamburger-bun .two{
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-55px);
}

.hamburger-bun .three{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0,-14px) rotate(-45deg);
}

.hamburger-bun.active{
    position: fixed;
    cursor: pointer;
    width: 55px;
    z-index: 3;
   
}

.hamburger-bun.active div{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    
}


.hamburger-bun.active .one,
.hamburger-bun.active .two{
    margin-bottom: 7px;
}


 .hamburger-bun.active .one{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 0px);
}

.hamburger-bun.active .two{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.3);
    height: 7px;
    transform: translate(0, 0px);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

 .hamburger-bun.active .three{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 0px);
}


.main-nav-list.active ul{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 2000;
}

.main-nav-list ul{
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    transition-duration: 840ms;
    transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
    list-style-type: none;
}

.main-nav-list a{
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    transition-delay: 100ms;
}
.main-nav-list.active a{
    transition-delay: 00ms;
    opacity: 0;
}

