
.screenshotContainer {
    display: flex;
    position: relative;
    width: 50%;
    height: 500px;
    overflow-y: auto;
    margin-top: 1%;
   
   }

.screenshotContainer iframe{
    position: relative;
    width: 100%;
    height: 100%;
    border: solid;
}
